---
---
@import url('https://fonts.googleapis.com/css?family=Lato');

$p-font: 'Lato',"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brand-color: #88C34B;
$gray-color: #555;
$text-color: #222;
// Width of the content area

$content-width:    960px;
$on-laptop:        800px;
$on-palm:          600px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}





//Import
@import 
        "normalize",
        "style",
        "flexslider",
        "fancybox.css",
        "custom"
;
