---
layout: default
permalink: /blog/
---       
        


		 <!-- Start Main Body -->
        <div class="main-container">
            <div class="main wrapper clearfix">
            	
            	            	
            	<!-- Start Main Content -->
                <div class="main-content">
                	<div class="clearfix">
                		
                		
                		<!-- Blog Post -->
                		{% for post in site.posts %}
                		<div class="clearfix">
                			<h2><a href="{{post.url}}">{{post.title}}</a></h2>
                			<div class="meta clearfix">	
                				<h6 class="date left">Posted on - {{post.date | date_to_string}}</h6>
                				{% assign tags = page.tags %}
                				<h6 class="tags right">{% for tag in tags %}<a>{{tag}}</a> {% unless forloop.last %} {% endunless %}{% endfor %}</h6>
                			</div>
                			{% if post.image %}
                			<div class="mosaic-block fade">
                				<a href="{{post.image}}" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="{{post.title}}"></a>
                				<div class="mosaic-backdrop"><img src="{{post.image}}" alt="{{post.title}}" /></div>
                			</div>
                			{% endif %}
                			
                			<!-- <p class="lead">Commodo vivamus sagittis lacus vel augue laore sagittis lacus vel augue laoreet rutrum.</p> -->
                			<p>{{post.content | strip_html | truncate: 400}}</p>
                			<p><a href="{{post.url}}" class="more">Read More</a></p>
                		</div>
                		
                		
                		<hr/>
                		{% endfor %}
                		
                		
                		<!-- Blog Post  -->
                		<div class="clearfix">
                			<h2><a href="post.html">Video Post</a></h2>
                			<h6 class="meta">Posted on 13 April 2013</h6>
                			<h6 class="meta tags"><a>tag</a> <a>folio</a> <a>updates</a></h6>
                			<iframe src="http://player.vimeo.com/video/14074949?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                				
                			<p>Donec id elilit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                				
                			<p><a href="post.html" class="more">Read More</a></p>
  						</div>
                		
                		
                		<hr/>
                		
                	                             
					<!-- Finish Main Content -->
                	</div>    
                </div>
                
                
                <!-- Start Main Sidebar -->
                <aside class="right-aside">
                    <h2>Recent Posts</h2>
                    <ul>
                    {% for post in site.posts limit: 5 %}
                    	<li><a href="{{post.url}}">{{post.title}}</a></li>
                    {% endfor %}
                    </ul>
                   
                   <hr class="dots"/> 
                   
                   
                   <h2>Archive</h2>
                   <ul class="archive">
                   	<li><a href="post.html">Jan 2012</a></li>
                   	<li><a href="post.html">Dec 2012</a></li>
                   	<li><a href="post.html">Nov 2012</a></li>
                   	<li><a href="post.html">Oct 2012</a></li>
                   	<li><a href="post.html">Sept 2012</a></li>
                   	<li><a href="post.html">Aug 2012</a></li>   
                   </ul>
                   
                   
                   <hr class="dots"/>
                   
                   
                   <h2>Tweets</h2>
                   <div class="tweet">
                   	<p>Commodo vivamus sagittis lacus vel augue laore sagittis lacus vel augue laoreet rutrum. Aenean eu leo quam. <a>#followSelfy </a> <a>@make-lemonade</a></p>
                   	
                   	<h6 class="meta">Posted on 13 April 2013</h6>
                   </div>
                    
                    	
                </aside>
                
				
			

        	</div> <!-- #main -->
        </div> <!-- #main-container -->
        
        
        


