
		<!-- Start Footer -->
		<footer>
			<div class="main wrapper clearfix">
				<div class="foot right">
				<ul class="social-link">
					<li><a href="#">d</a></li>
					<li><a href="#">e</a></li>
					<li><a href="#">f</a></li>
					<li><a href="#">h</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">i</a></li>
					<li><a href="#">r</a></li>
					<li><a href="#">t</a></li>
				</ul>
				</div>	
				
				<div class="foot left">
					<a href="index.html" class="logo-foot"><img src="img/logo-foot@2x.png" alt="logo" /></a>
					© Copyright Selfy 2013
				</div>	
			</div>
		</footer>
 
