
		<!-- Start Footer -->
		<footer>
			<div class="main wrapper clearfix">
				<div class="foot right">
				<ul class="social-link">
					
					
					{% if site.data.data.social.facebook %}
					<li><a href="{{site.data.data.social.facebook}}">f</a></li>
					{% endif %}
					
					<!-- <li><a href="#">h</a></li> -->
					{% if site.data.data.social.twitter %}
					<li><a href="{{site.data.data.social.twitter}}">t</a></li>
					{% endif %}
					
					{% if site.data.data.social.linkedin %}
					<li><a href="{{site.data.data.social.linkedin}}">i</a></li>
					{% endif %}
					
					{% if site.data.data.social.rss %}
					<li><a href="{{site.data.data.social.rss}}">r</a></li>
					{% endif %}

				</ul>
				</div>	
				
				<div class="foot left">
					<a href="{{site.baseurl}}/" class="logo-foot"><h6>Neependra</h6></a>
					© Copyright {{ "now" | date: '%Y' }}
				</div>	
			</div>
		</footer>
 
